.mdui-card{
    margin: 20px;
}

#player{
    width: 100%;
}

#songlist{
    padding-top: 192px;
}

#lrclist{
    font-size: 20px;
}

li.on{
    color: #f7a4b9;
    font-weight: bold;
    font-size: 25px;
}

ul{
    transition-duration: 600ms;
}

a:hover{
    cursor: pointer;
    color:#f7a4b9;
    font-weight: bold;
}