.mdui-card {
    margin: 16px;
    overflow: visible;
}
.mdui-radio {
  padding-left: 24px;
  margin-left: 18px;
}
audio {
    width: 95%;
}

.mdui-card-primary {
    background: rgba(0, 0, 0, 0.4);
}

li.on {
    color: #f7a4b9;
    font-weight: bold;
    font-size: 25px;
}

ul {
    transition-duration: 600ms;
}

a:hover {
    cursor: pointer;
    color: #3FA4F5;
    font-weight: bold;
}