.mdui-card {
    margin: 20px;
    overflow: visible;
}

#player {
    width: 95%;
}
.mdui-card-primary {
    background: rgba(0, 0, 0, 0.4s);
}
.mdui-select {
    margin-right: 8px;
    margin-left: 8px;
}

.mdui-btn {
    margin-right: 8px;
}

#lrclist {
    font-size: 20px;
}

li.on {
    color: #f7a4b9;
    font-weight: bold;
    font-size: 25px;
}

ul {
    transition-duration: 600ms;
}

a:hover {
    cursor: pointer;
    color: #f7a4b9;
    font-weight: bold;
}