
#fLeft{
    width: 50%;
    position: relative;
    float: left;
    overflow: hidden;
}
#fRight{
    position: relative;
    overflow: hidden;
}
#slide{
    position:absolute;
    top:0;bottom:0;right:0;
    height:100%;
    border:none;
    outline:none;
    font-size: 17px;
    padding: 2px;
    cursor:move;
    z-index:1;
    opacity:0.1;
}
#slide:hover{opacity:0.8 !important;}
#content-left{
    height: 100%;
    position:absolute;
    top:0;bottom:0;left:0;right:0;
    
    overflow:scroll;
}
#songlist{padding-bottom: 50px;}
#content-right{
    height: 100%;
    position: absolute;
    top:0;bottom:0;left:0;right:0;

    overflow:scroll;
}
#lrclist{font-size: 20px;}
#lrclist .mdui-list-item{text-align: center;}
li.on{
    border-left: solid;
    background-color: #f3f3f3;
}
li.on .mdui-list-item-content{
    font-weight:bold;
}
#notice{
    position: fixed;
    top:0;
    left: 0;
    right:0;
    width: fit-content;
    margin: auto;
    font-size: 20px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.603);
    color: #fff;
    padding: 10px;
    z-index: 1000000;
}
#loading{z-index:10000000;position: fixed;top:0;bottom:0;left:0;right:0;margin: auto;height: 50px;width: 50px;}